pkgbase = valgrind-loong64-git
	pkgdesc = A tool to help find memory-management problems in programs
	pkgver = 3.26.0.r305.g7934a9bff
	pkgrel = 1
	url = http://valgrind.org/
	arch = loong64
	license = GPL-2.0-or-later
	makedepends = gdb
	makedepends = openmpi
	makedepends = git
	makedepends = docbook-xml
	makedepends = docbook-xsl
	makedepends = docbook-sgml
	depends = glibc
	depends = perl
	optdepends = python: cg_* scripts
	provides = valgrind
	conflicts = valgrind
	options = !lto
	source = git+https://github.com/CSharperMantle/valgrind-loongarch64.git
	source = 0001-Make-valgrind-respect-C-CPP-LD-FLAGS.patch
	b2sums = SKIP
	b2sums = 06ad2aba854abc366c2e5a5b15c332b3f0cd9f998422a9c38c115d0a7e9c4d50f6720427ef97dbf549b3ea9cc5f344980594bcf842704c94d0223a998f9297a3

pkgname = valgrind-loong64-git
