pkgbase = valgrind-loongarch-git
	pkgdesc = A tool to help find memory-management problems in programs
	pkgver = 3.25.0.r324.g131f7852b
	pkgrel = 1
	url = http://valgrind.org/
	arch = loong64
	license = GPL-2.0-or-later
	makedepends = gdb
	makedepends = openmpi
	makedepends = git
	makedepends = docbook-xml
	makedepends = docbook-xsl
	makedepends = docbook-sgml
	depends = glibc
	depends = perl
	optdepends = python: cg_* scripts
	provides = valgrind
	conflicts = valgrind
	options = !lto
	source = git+https://github.com/CSharperMantle/valgrind-loongarch64.git
	source = https://raw.githubusercontent.com/archlinux/svntogit-packages/packages/valgrind/trunk/valgrind-3.7.0-respect-flags.patch
	b2sums = SKIP
	b2sums = af556fdf3c02e37892bfe9afebc954cf2f1b2fa9b75c1caacfa9f3b456ebc02bf078475f9ee30079b3af5d150d41415a947c3d04235c1ea8412cf92b959c484a

pkgname = valgrind-loongarch-git
